<% @dogs.each do |dog| %>
	<div>
		<h1><%= dog.name %></h1><br />
		<i><%= dog.breed %></i><br />
		<i><%= dog.age %></i><br />
		<p><%= dog.description %></p><br />
	</div>

	<hr />
<% end %>
